#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 5px;
  h2 {
    color: #d3573c;
    font-size: 64px;
    font-weight: 400;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 15px;
  }
  img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
  }
}

/*.photograph-header h2 {
    color: #d3573c;
    font-size: 64px;
    font-weight: 400;
    margin-block-end: 0;
    margin-block-start: 0;
    margin-top: 15px;
  }
  
  .photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
  }*/

.photographer-photo {
  order: 3;
  margin-right: 40px;
}

.photographer-info {
  order: 1;
  margin-left: 40px;
}

.photographer-city {
  font-size: 24px;
  color: #901c1c;
}

.photographer.description {
  font-size: 18px;
}

.photograph-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 58px 100px 100px 100px;
}

.photographer-media {
  width: 350px;
}

.media-image img,
.media-image video {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
}

.media-info {
  display: flex;
  justify-content: space-between;
}

.like-number,
.media-title,
.like-icon {
  margin-block-start: 10px;
  margin-block-end: 30px;
  font-size: 24px;
  color: #901c1c;
}

.media-like {
  display: flex;
}

.like-number {
  font-weight: 500;
}

.button-like {
  border: unset;
  background-color: unset;
  .fa-solid {
    margin-right: unset;
  }
}

.like-icon {
  margin-left: 6px;
  cursor: pointer;
}

.photograph-like {
  position: fixed;
  display: flex;
  bottom: 0;
  right: 36px;
  width: 376px;
  height: 70px;
  background-color: #db8876;
  border-radius: 5px 5px 0 0;
  align-items: center;
  justify-content: space-around;
  font-size: 24px;
  font-weight: 500;
}

.total-like {
  display: flex;
  align-items: center;
}

.like-totalnumber {
  margin-right: 6px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
  order: 2;
}

.dropdown,
.dropdown.open {
  margin-top: 10px;
  display: flex;
  margin-left: 100px;
  align-items: baseline;
  z-index: 99;
}

.sort-by-button {
  position: relative;
  cursor: pointer;
}

.dropdown.open .dropdown-child {
  display: flex;
  flex-direction: column;
}

.dropdown-child {
  display: none;
  position: absolute;
  top: 50px;
  background-color: #901c1c;
  width: 170px;
  border-radius: 0 0 5px 5px;
}

.dropdown-child a {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  font-size: 18px;
  padding: 10px 0;
  font-weight: 700;
}

.child-line {
  width: 150px;
}

.dropdown .arrow-up {
  display: none;
}

.dropdown.open .arrow-up {
  display: inline-block;
}

.dropdown.open .arrow-down {
  display: none;
}

.sort-by {
  font-weight: 700;
  font-size: 18px;
  margin-right: 25px;
}

.dropdown .sort-by-button,
.dropdown.open .sort-by-button {
  display: flex;
  flex-direction: column;
  background-color: #901c1c;
  border-radius: 5px;
}

.dropdown-button {
  border: unset;
  background-color: unset;
  color: white;
  padding: unset;
  height: 55px;
  width: 170px;
  text-align: start;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  cursor: pointer;
}

.dropdown-button-text {
  margin-left: 20px;
}

.fa-solid {
  margin-right: 20px;
}

.background-modal {
  display: none;
  background-color: #c4c4c4;
  position: fixed;
  inset: 0;
  opacity: 0.4;
}

.modal {
  position: absolute;
  top: 56px;
  left: 25%;
  border-radius: 5px;
  background-color: #db8876;
  width: 670px;
  height: 900px;
  padding: 20px 35px 35px 35px;
  box-shadow: -10px 6px 50px #2c2c2c;
}

.modal-header {
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
  img {
    cursor: pointer;
  }
  h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: left;
    margin-block-start: 0;
    margin-block-end: 0;
  }
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 120px;
  label {
    color: #312e2e;
    font-size: 36px;
  }
  div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
  }
}

form input,
form textarea {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  font-size: 36px;
  color: #b3b3b3;
}

form input[type="text" i] {
  text-indent: 21px;
}

form textarea {
  height: 170px;
}

.lightbox {
  display: none;
  position: fixed;
  inset: 0;
  background-color: white;
  overflow: scroll;
}

.lightbox.show {
  display: initial;
}

.lightbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 62px;
}

.container-media img,
.container-media video {
  width: 1050px;
  height: 900px;
  object-fit: cover;
  border-radius: 5px;
}

.lightbox-close,
.lightbox-prev,
.lightbox-next {
  border: none;
  background-color: transparent;
  text-decoration: none;
  padding: 0px;
}

.lightbox-close {
  cursor: pointer;
  position: absolute;
  top: 77px;
  right: 126px;
}

.lightbox em {
  font-size: 48px;
  color: #901c1c;
  margin-left: 20px;
}
